#slogan-text {
    text-align: center;
    padding: 60px 0 60px;
    margin: 0;
}

.bg-light-grey {
    background-color: #EFEFEF;
}

.cards > div {
    margin-bottom: 20px;
}

.bg-shadow {
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
}

.card-title {
    font-weight: bold;
}

.news-box {
    width: 75%;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
}
